body{
    margin: 0;
    background-image: url(https://i.redd.it/zzckqeaiku3a1.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;
}

h1, a, label, input, button{
    text-decoration: none;
    list-style: none;
    color: yellow;
}
.header_container{
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    align-items: center;
}

.header_container a{
    font-size: 20px;
    padding: 20px;
}
.header_container a:hover{
    color: white;
}

.container{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    background-color: black;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    border-radius: 30px;
}

.container button{
    width: 50%;
    height: 30px;
    background-color: yellow;
    border-radius: 30px;
    justify-self: center;
    color: black;
    font-size: 20px;
}
.container button:hover{
    background-color: white;
    color: black;
}

.container input, label{
    width: 50%;
    justify-self: center;
    font-size: 20px;
}
.container input{
    color: black;
}

.animacao{
    width: 20px;
    height: 0px;
    background-color: transparent;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: all 0.5s ease-in-out; 
}

.sabre-jedi {
    height: 50px; 
    margin: 0 auto;
    justify-content: center;
    width: 53%;
    border-radius: 50px;
    background-color: #00BFFF; 
    box-shadow: 0 0 20px #00BFFF, 0 0 40px #00BFFF; 
}

.sabre-sith {
    height: 50px; 
    margin: 0 auto;
    justify-content: center;
    width: 53%;
    border-radius: 50px;
    background-color: #FF0000; 
    box-shadow: 0 0 20px #FF0000, 0 0 40px #FF0000; 
    
}

.bg-jedi{
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/referencias_obi_wan3_cefc3645.png?region=0,0,882,456) !important;
    transition: background-image 1s ease-in-out;
}

.bg-sith{
    background-image:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh3YLci8nZD5C8h_edibg0YnwW9rnzODXP_2HlcgouPfFyLDcnXXDO0a4G1YX9grBhc9KG_LihjlOqz9aBwWTnVd-pJtCWgQJg5V9PjmQM3AGYkCdmEYioNHWR7TUSkREj2NgEQdMqAJY_w/s1600/star-wars-lightsaber-%255B1%255D.jpg) !important;
}
